.login-container {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGcAAAAXCAAAAAAzCA7kAAAC80lEQVRIx4VWjcosIQid93/Pj12WwpAiiaKrWU7tD9eFGWbKjh49zl5EXa25JrcE+jBekytyq+BzX1aJqNhTBqhyLy7rbRyCaSz6avsuRATwmLsfzsUrzHgIYTzMo3pNEByquQBR0epcRlD/AQRZj+klQvAB8cLM8bWannE4jXgUpvkRVdQAKm+nXnhzxMhX6oQ+6JJHTX74KpA65QdSb7L7IsqIwcMjki1DMeoa6BngAD3/FIOxGISfHJDGUo00vVYnl/z0nLnkfxmDFMG7kTsky4nm9Y+Zvcle1gjd3winjvKUEWABheZqkPlch2ONADlFg0nQ+J0Puf82Cj7ycQGNtIRlkLzb9e7W4gvrhIEo/UT9f1aASzkaVerb4jN85H5R/eIGo06Qkkvtc5m+ICcXI4x+2zWw4Ywm5QKnsr2t4GoH59JZDBAFqIEPgLQHQf4J1uTrHPEJ0gnXfYr3sexIzxulZT73iGQklrlPt4Tp6dyN0hJD5OVz1EfKNzdOTSgn3n+h7z7tXpxakyo7yLvPex8wVOpLEAMw/AaxOIysNsIjD+81kvokOhjh4vto9MG+1oZCxeioTb27MrM3HoGxrKU+VSYCD6G7OPQq5m58txy4CWQa9NFykWdBuKlpuEpTX5ZLTeKDY+7csHFmK+I8XUWrkL7MA26PaHsgTFQdVVLsO46jPi1xH8DkjNyigvkv/ZeVYBojNzNJUNHFI66L6JBdfcxuDsGy2lVUSW0/5C7IcsqPow9sXjPVSkubjVJXaOgtClYYgM1rkaz1Ai2k+WFc37uWeVyLtOnWaZCvSVjb6skEy8R/6JS/ez6+cdbmnYGOou71qXGmm/Rb1SxKgF8T+56zOCUHSnN5hj0u0U9cbM8t+hfBOKBND0LysGycsfTTwTWGGZxVJ475VtnZ81DsKe4wqO1tKMJSiLNp2JelsVhJszX1/8Q6IOHQQxD9NOOtxhdsu5rm1qYoWnJfqOM5qvVpqExPwpPi8aC2JvoHOuYO87tf6SQAAAAASUVORK5CYIIK');
  display: flex;
  height: 100%;
}

.form-container {
  margin: auto auto;
  width: 60%;
}

nz-alert {
  margin-top: 24px;
}

button {
  margin-top: 24px;
  width: 100%;
}
